.header .header-in:before, .nav .nav-list:before, .hao-welfare .list li a:before, .game-rank .c3:before, .game-rank .list li:before, .friendlink .friendlink-hd:before { display: table; content: ""; }
.header .header-in:after, .nav .nav-list:after, .hao-welfare .list li a:after, .game-rank .c3:after, .game-rank .list li:after, .friendlink .friendlink-hd:after { display: table; content: ""; clear: both; }

.plist .tit, .hao-welfare .list li .tit, .game-test .bd .game, .game-test .bd .state, .game-rank .list li .c2, .game-rank .list .active a .c2 .name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.content, .container, .footer-in { width: 1100px; margin: 0 auto; }

.plist, .ptlist, .ptlist .item-con, .ptlist .text, .main .ptlist-news .info { overflow: hidden; }

.ico { display: inline-block; vertical-align: middle; }

body { font-size: 14px; font-family: "Helvetica Neue", Tahoma, "Microsoft Yahei", "PingFang SC", "ST Heiti", SimHei, sans-serif; min-width: 1100px; background-color: #fff; color: #000; }

a { color: #333; }
a:hover { color: #ff5c00; }

a:focus, a:active, a:hover { outline: none; }

.mask { z-index: -1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); }

:root .mask { -webkit-filter: none \0; filter: none \0; }

.c-txt { color: #ffa200; }

.blue { color: #3880ec; }

.plist .item { float: left; }
.plist .item-con { margin: 0 auto; display: block; text-align: center; }
.plist .item-con img { display: block; margin: 0 auto; }
.plist .tit { text-align: center; }

.ptlist .item-con { display: block; }
.ptlist .pic { float: left; }

.ico { background: url(//ue.17173cdn.com/a/news/index/2017/img/sprite.png) no-repeat; }

.ico-search { width: 20px; height: 20px; background-position: 0 0; }

.ico-date { width: 19px; height: 18px; background-position: -50px 0; margin-right: 5px; margin-bottom: 3px; }

.ico-comment { width: 19px; height: 18px; background-position: -70px 0; margin-right: 5px; }

.ico-up { width: 12px; height: 14px; background-position: -130px 0; }

.ico-nor { width: 12px; height: 2px; background-position: -146px -4px; }

.ico-down { width: 12px; height: 14px; background-position: -162px 0; }

.content { overflow: hidden; padding-top: 15px; }
.content .main { width: 680px; float: left; }
.content .side { float: right; width: 365px; }

.hd { height: 50px; line-height: 50px; overflow: hidden; }
.hd .tit { font-size: 22px; font-weight: bold; float: left; }
.hd .more { float: right; }
.hd .more a { color: #999; }
.hd .more a:hover { color: #333; }

.comm-btn { display: block; position: relative; z-index: 3; -webkit-transition: color .3s; transition: color .3s; border: 1px solid #d2d2d2; color: #999; width: 53px; height: 23px; line-height: 23px; text-align: center; }
.comm-btn:before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; width: 0; height: 100%; background: #ffcd00; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }

.btn-top { position: fixed; bottom: 100px; right: 50px; width: 50px; height: 50px; background: url(//ue.17173cdn.com/a/news/index/2017/img/sprite.png) no-repeat -190px 0; display: none; z-index: 99; }
.btn-top:hover { background-position: -242px 0; }

.header .header-in { width: 1100px; height: 120px; margin: 0 auto; background: url(//ue.17173cdn.com/a/news/index/2017/img/bg-header.jpg) no-repeat right 22px; }
.header .logo-box { float: left; padding: 22px 50px 0 10px; }
.header .menu-box { float: left; padding: 40px 25px 0 0; font-size: 0; }
.header .menu-box a { font-size: 22px; display: inline-block; }
.header .menu-box a:before { content: ''; width: 14px; height: 13px; background: url(//ue.17173cdn.com/a/news/index/2017/img/sprite.png) no-repeat -174px 0; display: inline-block; margin: 0 10px; vertical-align: middle; }
.header .menu-box a:first-child:before { display: none; }
.header .search-box { float: left; padding-top: 40px; width: 380px; height: 38px; }
.header .search-box .search-form { position: relative; padding: 0 60px 0 0; }
.header .search-box .search-form .keyword { border: 1px solid #eee; border-right: 0; width: 100%; height: 38px; line-height: 38px\9; background: #fff; border-radius: 2px 0 0 2px; outline: 0; padding: 0 10px; box-sizing: border-box; }
.header .search-box .search-form button { background: #ffcd00; border: none; position: absolute; right: 0; top: 0; width: 60px; height: 100%; border-radius: 0 2px 2px 0; outline: 0; cursor: pointer; }
.header .code-box { float: left; width: 100px; height: 100px; border: 1px solid #ededed; border-radius: 5px; margin-top: 10px; margin-left: 50px; }
.header .code-box img { display: block; padding: 5px; }

.nav { width: 1100px; margin: 0 auto; background: #35383d; border-top: 3px solid #ffcd00; }
.nav .nav-list { padding: 0 5px; }
.nav .nav-list li { float: left; line-height: 50px; font-size: 16px; }
.nav .nav-list li a { display: inline-block; color: #b9bdc4; padding: 0 20px; }
.nav .nav-list li a:hover { color: #fff; }

.main .hd { border-bottom: 1px solid #eaeaea; }
.main .ptlist-news .pic { margin-right: 20px; width: 160px; height: 120px; overflow: hidden; }
.main .ptlist-news .pic .avatar { width: 160px; height: 120px; overflow: hidden; display: table-cell; vertical-align: middle; text-align: center; background-color: #000; }
.main .ptlist-news .pic img { height: 100%; width: auto; }
.main .ptlist-news .tit { font-size: 22px; height: 68px; line-height: 34px; overflow: hidden; margin-bottom: 30px; }
.main .ptlist-news .info .c1 { float: left; }
.main .ptlist-news .info .c1 .tag { float: left; color: #999; padding: 0 10px; margin-right: 5px; line-height: 22px; background: #f9f9f9; }
.main .ptlist-news .info .c1 .tag:hover { background-color: #ff5c00; color: #fff; }
.main .ptlist-news .info .c2 { float: right; color: #999; }
.main .ptlist-news .info .c2 .sep { margin: 0 15px; font-size: 12px; font-family: "Simsun"; color: #cbcbcb; }
.main .ptlist-news .info .c2 .tag-tg { border: 1px solid #c9c9c9; padding: 0 5px; height: 16px; line-height: 16px; border-radius: 3px; font-size: 12px; display: inline-block; margin-right: 44px; }
.main .ptlist-news .info .c2 .comment-num { display: inline-block; width: 80px; }
.main .ptlist-news .info .c2 .count { font-family: Georgia; font-size: 18px; }
.main .ptlist-news .item { border-bottom: 1px solid #eaeaea; padding-top: 20px; padding-bottom: 20px; position: relative; }
.main .ptlist-news .item:hover { background: #fcfcfc; }
.main .ptlist-news .item-con:hover .tit { color: #comm; }
.main .ptlist-news .item-con:hover .ico-comment { background-position: -110px 0; }
.main .ptlist-news .item-con:hover .count { color: #ff5c00; }
.main .ptlist-news .tg-con a { display: block; }
.main .ptlist-news .tg-con a img { width: 680px; height: 125px; }
.main .ptlist-news .tg-con-three { overflow: hidden; margin: 0 -5px; }
.main .ptlist-news .tg-con-three a { display: block; margin: 0 5px; float: left; }
.main .ptlist-news .tg-con-three a img { width: 220px; height: 125px; }
.main .ptlist-news .tg-con-two { overflow: hidden; margin: 0 -5px; }
.main .ptlist-news .tg-con-two a { display: block; margin: 0 5px; float: left; }
.main .ptlist-news .tg-con-two a img { width: 335px; height: 125px; }
.main .btn-more { display: block; margin: 50px auto; width: 360px; height: 50px; line-height: 50px; background-color: #f1f1f1; border-radius: 30px; color: #333; text-align: center; position: relative; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.8); font-size: 18px; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }
.main .btn-more:hover { color: #333; background: #ffcd00; }

.side .hd .tit { font-size: 18px; }
.side .bd { padding-bottom: 10px; }
.side .focus { margin: 15px 0; }

.rec-reading .hd { z-index: 5; position: relative; margin-bottom: 10px; }
.rec-reading .hd:before { content: ''; width: 100%; height: 1px; overflow: hidden; background: #eaeaea; z-index: -1; position: absolute; right: 0; top: 50%; }
.rec-reading .hd .tit { background: #fff; padding-right: 25px; position: relative; }
.rec-reading .hd .tit:after { content: ''; width: 7px; height: 7px; background: #ffcd00; border-radius: 50%; position: absolute; right: 8px; top: 50%; margin-top: -3px; }
.rec-reading .ptlist-reading .pic { margin-right: 20px; }
.rec-reading .ptlist-reading .pic img { display: block; }
.rec-reading .ptlist-reading .text .tit { font-size: 16px; line-height: 22px; height: 44px; overflow: hidden; margin-bottom: 10px; font-weight: bold; }
.rec-reading .ptlist-reading .text .dec { color: #999; }
.rec-reading .ptlist-reading .item-con { padding-bottom: 18px; border-bottom: 1px solid #eaeaea; position: relative; margin-top: 18px; }
.rec-reading .ptlist-reading .item-con .line { width: 6px; height: 75px; background-color: #ffa200; position: absolute; top: 0; left: -6px; display: block; z-index: 8; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }
.rec-reading .ptlist-reading .item-con:hover { color: #333; }
.rec-reading .ptlist-reading .item-con:hover .tit { color: #ff6600; }
.rec-reading .ptlist-reading .item-con:hover .line { left: 0; }
.rec-reading .ptlist-reading li:first-child .item-con { margin-top: 0; }

.hao-welfare .tab { display: table; background: #ffcd00; width: 100%; margin-bottom: 18px; }
.hao-welfare .tab li { display: table-cell; width: 33.3%; text-align: center; height: 35px; line-height: 35px; }
.hao-welfare .tab li a { display: block; color: #333; font-size: 16px; font-weight: bold; }
.hao-welfare .tab li.current a { background: #333; color: #fff; }
.hao-welfare .list li { margin-bottom: 13px; position: relative; padding-right: 60px; padding-left: 75px; }
.hao-welfare .list li a { display: block; }
.hao-welfare .list li a:hover .date:after { width: 9px; height: 9px; border-color: #ffcd00; background: #ffcd00; right: -14px; top: 31%; }
.hao-welfare .list li a:hover .comm-btn { color: #fff; border-color: #ffcd00; color: #333; }
.hao-welfare .list li a:hover .comm-btn:before { width: 100%; }
.hao-welfare .list li:first-child .date:before { display: none; }
.hao-welfare .list li .date { color: #999; width: 50px; text-align: center; position: absolute; left: 0; top: 0; }
.hao-welfare .list li .date:before { content: ''; width: 1px; height: 32px; background: #f5f5f5; position: absolute; right: -10px; bottom: 45%; }
.hao-welfare .list li .date:after { content: ''; width: 5px; height: 5px; border: 1px solid #d3d3d3; box-sizing: border-box; border-radius: 50%; position: absolute; right: -12px; top: 45%; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; z-index: 3; }
.hao-welfare .list li .game { font-size: 16px; }
.hao-welfare .list li .gift { color: #3880ec; }
.hao-welfare .list li .comm-btn { position: absolute; right: 0; top: 50%; margin-top: -12px; }

.game-test .bd .test-hd { height: 35px; line-height: 35px; background: #f7f7f7; overflow: hidden; font-weight: bold; padding: 0 20px 0 10px; }
.game-test .bd .test-bd { padding-top: 8px; }
.game-test .bd .c1 { width: 70px; float: left; }
.game-test .bd .c2 { overflow: hidden; }
.game-test .bd .game { width: 180px; float: left; }
.game-test .bd .state { overflow: hidden; text-align: right; }
.game-test .bd .list li { overflow: hidden; line-height: 40px; padding-left: 8px; }
.game-test .bd .list li .c1 { color: #999; position: relative; }
.game-test .bd .list li .c1:after { content: ''; width: 3px; height: 3px; overflow: hidden; position: absolute; right: 16px; top: 50%; margin-top: -1px; background: #cbcbcb; }
.game-test .bd .list li .c2 { position: relative; padding-right: 5px; }
.game-test .bd .list li .c2 .game { font-size: 16px; }
.game-test .bd .list li .c2 .state { color: #999; }
.game-test .bd .list li .c2:before, .game-test .bd .list li .c2:after { content: ''; height: 1px; overflow: hidden; background: #f1f1f1; position: absolute; left: 0; bottom: 0px; z-index: 2; width: 100%; }
.game-test .bd .list li .c2:after { width: 0; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; background: #ffcd00; z-index: 3; }
.game-test .bd .list li a:hover .game { font-weight: bold; color: #ff5c00; }
.game-test .bd .list li a:hover .c1:after { background: #ffcd00; }
.game-test .bd .list li a:hover .c2:after { width: 100%; }

.game-rank .rank-hd { background: #f7f7f7; overflow: hidden; height: 35px; line-height: 35px; font-weight: bold; }
.game-rank .c1 { float: left; width: 52px; text-align: center; }
.game-rank .c2 { float: left; width: 125px; padding-left: 15px; }
.game-rank .c3 { float: left; width: 173px; }
.game-rank .num { float: left; width: 100px; text-align: center; }
.game-rank .state { float: right; width: 55px; text-align: center; }
.game-rank .list li { line-height: 39px; position: relative; z-index: 5; border-bottom: 1px solid #f1f1f1; }
.game-rank .list li .c1 { font-family: Georgia; font-size: 18px; color: #999; }
.game-rank .list li .c2 { font-size: 16px; }
.game-rank .list li .c2 .name { position: relative; }
.game-rank .list li .c2 .name .line { content: ''; width: 100%; height: 3px; background: #fff; position: absolute; left: 0; bottom: 0; overflow: hidden; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; display: none; -webkit-transform-origin: 50% 0; -ms-transform-origin: 50% 0; transform-origin: 50% 0; }
@-webkit-keyframes line { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }
@keyframes line { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }
.game-rank .list li .c3 { color: #999; }
.game-rank .list li .c4 { position: absolute; width: 100%; height: 177px; left: 0; top: 0; display: none; z-index: -1; }
.game-rank .list li .c4 img { display: block; }
.game-rank .list li .c4 .mask { z-index: 2; }
.game-rank .list li a { display: block; }
.game-rank .list .active a { height: 177px; }
.game-rank .list .active a .c1 { display: none; }
.game-rank .list .active a .c2 { position: absolute; top: 40px; width: 100%; font-size: 30px; font-weight: bold; text-align: center; color: #fff; padding-left: 0; }
.game-rank .list .active a .c2 .name { display: inline-block; padding: 0 15px 11px; box-sizing: border-box; max-width: 100%; overflow: hidden; }
.game-rank .list .active a .c2 .name .line { -webkit-animation: line 1s both; animation: line 1s both; display: block; }
.game-rank .list .active a .c3 { position: absolute; left: 0; top: 90px; width: 100%; text-align: center; font-family: Georgia; color: #fff; font-size: 24px; }
.game-rank .list .active a .c3 div { display: inline-block; float: none; width: auto; }
.game-rank .list .active a .c3 .num { padding-right: 10px; }
.game-rank .list .active a .c4 { display: block; }

.slick-list { position: relative; overflow: hidden; display: block; }

.slick-list:focus { outline: none; }

.slick-track { display: block; position: relative; left: 0; top: 0; *zoom: 1; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track, .slick-loading .slick-slide { visibility: hidden; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }

.slick-slide img, .slick-initialized .slick-slide { display: block; }

.slick-loading img { display: none; }

.focus { width: 365px; height: 475px; background: #000; }

.focus-in { *zoom: 1; position: relative; z-index: 4; height: 475px; }

.focus-con { position: absolute; z-index: 2; }

.focus-con-item { overflow: hidden; position: absolute; top: 0; left: 0; height: 395px; }

.focus-con-item img { width: 365px; height: 395px; border: 0; }

.focus-con-item .txt-box { overflow: hidden; position: absolute; z-index: 30; left: 20px; bottom: 15px; width: 325px; font-family: "MicroSoft YaHei"; white-space: nowrap; }

.focus-con-item a { color: #fff; text-decoration: none; }

.focus-con-item a:hover { color: #fff; text-decoration: underline; }

.focus-con-item .tit { margin: 0; padding: 0; font-size: 24px; font-weight: normal; line-height: 1.5; }

.focus-con-item .detail { width: 280px; margin: 0; padding: 0; font-size: 16px; font-weight: normal; line-height: 1.5; }

.focus-con-item .detail a:hover { text-decoration: none; }

.focus-fun .btn-focus { display: none; position: absolute; z-index: 5; top: 148px; width: 51px; height: 78px; background: url("//ue.17173cdn.com/a/www/index/2016v2/img/b-alpha-1.png?201701171810") no-repeat; }

.focus-fun .btn-focus-prev { left: 0; background-position: 0 -94px; }

.focus-fun .btn-focus-prev:hover { background-position: -56px -94px; }

.focus-fun .btn-focus-next { right: 0; background-position: -112px -94px; }

.focus-fun .btn-focus-next:hover { background-position: -168px -94px; }

.focus-in:hover .focus-fun .btn-focus { display: block; }

.focus-thumb { overflow: hidden; position: absolute; z-index: 10; left: 1px; bottom: 1px; width: 363px; padding-top: 2px; }

.focus-thumb-in { overflow: hidden; *zoom: 1; width: 100000px; }

.focus-thumb-item { float: left; width: 119px; margin-right: 3px; }

.focus-thumb-item a { display: block; width: 119px; height: 80px; }

.focus-thumb-item img { width: 119px; height: 80px; }

.focus-thumb-box { float: left; }

.ben-slide-clonebox { display: none; overflow: hidden; position: absolute; z-index: 20; top: 0; left: 0; width: 100px; }

.ben-slide-clonebox img { position: absolute; }

.focus-thumb-grid { overflow: hidden; position: absolute; top: 0; z-index: 40; left: 0; width: 119px; height: 2px; background-color: #ffc81f; cursor: pointer; }

.focus-num { position: absolute; z-index: 5; bottom: 76px; right: 10px; font-size: 26px; font-style: italic; line-height: 45px; color: #c0c0c0; font-family: "ST Heiti",sans-serif; }

.focus-num .current { font-size: 34px; color: #ffcd00; font-weight: bold; }

.focus-num .num { font-size: 18px; }

.footer { background-color: #333; color: #999; margin-top: 20px; }

.footer-in { padding: 22px 0 30px; position: relative; }
.footer-in:after { content: ''; width: 60%; position: absolute; left: 20%; bottom: 0; height: 1px; background: #484848; overflow: hidden; }

.friendlink .friendlink-hd .tit { float: left; font-weight: bold; font-size: 18px; color: #fff; }
.friendlink .friendlink-hd .more { float: right; }
.friendlink .friendlink-hd .more a { color: #666; }
.friendlink .friendlink-hd .more a:hover { color: #fff; }
.friendlink .friendlink-bd { margin-right: -20px; padding-top: 15px; }
.friendlink .friendlink-bd a { display: inline-block; font-size: 16px; color: #999; padding-right: 20px; line-height: 1.8; }
.friendlink .friendlink-bd a:hover { color: #fff; }

.global-footer { font-family: "Helvetica Neue", Tahoma, "Microsoft Yahei", "PingFang SC", "ST Heiti", SimHei, sans-serif; color: #666; background-color: #333; line-height: 2.2; padding-bottom: 20px; }

.global-footer a:visited, .global-footer a:link { color: #666; }

/*# sourceMappingURL=style.css.map */